@font-face {font-family:'NanumGothic';src: url('../font/NanumFontSetup_OTF_GOTHIC/NanumGothic.otf');}

#headerWrapper {
    width: 100%;
    height: 5%;
    background-color: rgb(117, 117, 117);
}

.headerFlex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title {
    width: 20%;
    height: 100%;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: '';
}


#controlWrapper {
    width: 80%;
    height: 100%;
}

#search {
    width: 300px;
    height: 100%;
    border: none;
    border-inline-style: none;
}

#btnSearch {
    width: 80px;
    height: 100%;
    border:none;
    border-inline: none;
}

.controlFlex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#navigation {
    width: 80%;
    height: 100%;
    background-color: aquamarine;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#navigation > .navList {
    width: 20%;
    height: 100%;
    text-align: center;
    align-self: center;
    background-color: black;
}
