@font-face {font-family:'NanumGothic';src: url('../font/NanumFontSetup_OTF_GOTHIC/NanumGothic.otf');}

#mainWrapper {
    width: 100%;
    height: 91%;
    background-color: bisque;
}

.font {
    font-family:'NanumGothic' !important;
}
.flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#modalNightfall {
    width: 100%;
    height: 70%;
    background-color: rgb(187, 203, 139);
    background-repeat: no-repeat;
}

#modalReward {
    width: 100%;
    height: 20%;
    background-color: rgb(129, 126, 123);
}

#nightfallTitle {
    font-size: 45px;
    color: rgb(167, 167, 167);
}

#nightfallSubTitle {
    font-size: 30px;
    color: white;
}

#modifier {
    font-size: 'NanumGothic';
}