@font-face {
    font-family: 'NanumGothic';
    src: url('../font/NanumFontSetup_OTF_GOTHIC/NanumGothic.otf');
}

/*레이아웃 외각선*/
.border {
    border: 1px solid #ffffff;
}
/****************/

#wrpContent {
    width: 100%;
    background-color: gray;
}

#main_title,#main_season {
    width: 50%;
    height: 5rem;
}

#main_title {
    grid-area: 1/1/2/1;
}

#main_season {
    grid-area: 1/2/1/3;
}

#main_blog {
    width: 80%;
    height: 100%;
    grid-area: 2/1/4/3;
    
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/* 아티클 테스트 */
#test {
    width: 80%;
    height: 30%;
}
#main_wrapper {
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
}
#main_wrapper > * {
    color:white;
    font-size: 120%;
}
section > span {
    display: inline-block;
}
#main_reward {
    width: 66rem;
    height: 10rem;
    flex-direction: row;
    justify-content: space-evenly;
}


#main_modifier {
    grid-area: 1/2/4/3;
    width: 80%;
    flex-direction: row;
    justify-content: center;
}
.main_font {
    font-size: 100%;
}

.main_grid {
    display:grid;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
}

.main_flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.main_article {
    width: 100%;
    height: 10rem;

    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.main_img {
    width: 16rem;
    height: 9rem;
    background-color: black;
    margin-right: 2rem;
}

.main_icon {
    width: 4rem;
    height: 4rem;
}

.modifiers {
    width: 10rem;
    height: 4rem;
}
